html, body, #root {
  margin: 0;
  width: 100vw;
  height: 100vh;

  --accent: royalblue;
}

.app {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.header {
  background-color: var(--accent);
  padding: 0.25em;
  color: white;
  & h1 {
    margin: 0;
  }
}

.content {
  flex-grow: 1;
}

.footer {
  background-color: var(--accent);
  color: white;
  text-align: center;
  padding: 0.25em;
}
