@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body, #root {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Inter', sans-serif;

  --accent: royalblue;
  --ui-1: lightgray;
}

.app {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.header {
  background-color: var(--accent);
  padding: 4px 8px;
  color: white;
  & h1 {
    margin: 0;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  text-align: center;
}

.footer {
  background-color: var(--accent);
  color: white;
  text-align: center;
  padding: 4px 8px;
}

.item-list {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  row-gap: 4px;

  margin: 8px;
  padding: 0px;
}

.item {
  background: var(--ui-1);
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 4px;

  & svg {
    color: var(--accent);
    width: 1.5em;
    height: 1.5em;

    &:hover {
      color: red;
    }
  }

  & label {
    flex-grow: 1;
  }

  & input {
    width: 2em;
    height: 2em;
  }
}
